.cover__subtittle {
  max-width: 360px;
  margin: 2rem auto 0;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  line-height: calc(22 / 18);
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__subtittle {
    margin-top: 32px;
    margin-bottom: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtittle {
    margin-top: 32px;
    margin-bottom: 115px;
  }
}


@media screen and (max-width: 320px) {
  .cover__subtittle {
    margin-top: 16px;
    margin-bottom: 33px;
    font-size: 14px;
  }
}
