.lead__title {
  margin: 0 auto 35px;
  padding: 0;
  display: flex;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
  margin-bottom: 32px;
  }
}

@media screen and (max-width: 675px) {
  .lead__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 480px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 16px;
  }
}