.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.63;
}
  
.place__paragraph:last-child {
  margin-bottom: 0;
}
  
@media screen and (max-width: 767px) {
.place__paragraph {
    font-size: calc(16px + (100vw - 320px) / (768 - 320));
    line-height: 1.6;
  }
}
  
 @media screen and (max-width: 424px) {
  .place__paragraph {
    padding: 0 16px;
  }
}