.lead__caption {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;
  line-height: 1.2;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}
  
@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}