.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 48px 40px;
  margin: 0 0 80px;
}
  
  .place:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1023px) {
    .place {
      grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
      gap: 48px 32px;
      margin: 0 auto calc(72px+ (100vw - 768px) / (1024 - 768) * (80 - 72));
    }
  }
  
  @media screen and (max-width: 767px) {
    .place {
      grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
      gap: 48px 28px;
      margin: 0 auto calc(50 + (100vw - 320px) / (768 - 320) * (72 - 50));
    }
  }
  
  @media screen and (max-width: 546px) {
    .place {
      grid-template-columns: minmax(min-content, max-content);
      gap: 32px;
    }
  }