.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin: 0;
  margin-bottom: 80px;
}
  
  .place:last-child {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1023px) {
    .place {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place {
      grid-template-columns: 340px 1fr;
      column-gap: 28px;
      margin-bottom: 73px;
    }
  }
  
  @media screen and (max-width: 680px) {
    .place {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
    }
  }

  @media screen and (max-width: 670px) {
    .place {
      grid-template-columns: 100%;
      margin-bottom: 50px;
      gap: 32px;
    }
  }
