.footer {
  max-width: calc(100% - 96px);
  padding: 0 0 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
    max-width: calc(100% - 32px);
  }
}