.place__url-heading {
  margin: 0 0 12px;
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
  
@media screen and (max-width: 425px) {
  .place__url-heading {
    padding: 0 16px;
  }
}